<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Gislain">
  <title>talk to us</title>
  <link rel="stylesheet" href="reachus.css">
  <script src="https://kit.fontawesome.com/f7b93df9fb.js" crossorigin="anonymous"></script>
</head>

  <body>
    <div class="header">
      <div class="socials">
        <div class="motto"><p>clean <strong>work</strong>,  clean <strong>environment</strong></p></div>
        <ul>
        <li><a href="#" target="_blank" rel="noopener" title="whatsapp"><i class="fab fa-whatsapp"></i></a></li>
        <li><a href="#" target="_blank" rel="noopener" title="instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" target="_blank" rel="noopener" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#" target="_blank" rel="noopener" title="X"><i class="fab fa-twitter"></i></a></li>
      </ul>
      </div>
      <div class="loc">
        <div class="findme">
          <i class="fa-solid fa-phone"></i>
          <div class="sub"><span>Call Us Please</span><a href="tel:+250788565652">(+250)-788-565652</a></div></div>
        <div class="findme">
          <i class="fa-regular fa-envelope"></i>
          <div class="sub"><span>Send an Email</span><a href="emmakabanda@gmail.com">emmakabanda@gmail.com</a></div></div>
        <div class="findme">
          <i class="fa-solid fa-clock"></i>
          <div class="sub"><span>Open Time (Mon-Fri)</span><a href="#">From:8AM To:05PM</a></div></div>
        <div class="findme">
          <i class="fa-solid fa-location-dot"></i>
          <div class="sub"><span>Office Location</span><a href="https://maps.app.goo.gl/drEb79qKS9eUM8dc7">st.Famille Kigali,Rwanda</a></div></div>
      </div>
      
      <div class="menu">
        <img src="imgs\logodone.jpg" alt="logo" height="70" width="180">
        <nav>
          <ul class="navigate">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About<i class="fa-solid fa-caret-down"></i></a>
             <ul class="dropdown">
                <li><a href="mission.html">vision</a></li>
                <li><a href="mission.html">mission</a></li>
              </ul></li>
              <li><a href="#">Services <i class="fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                <li><a href="gardening.html">Garden Mantainance</a></li>
                <li><a href="cleaningoffice.html">Office Custodians</a></li>
                <li><a href="streetcleaning.html">Street Cleaning</a></li>
                <li><a href="Window scrubbers.html">Window scrubbers</a></li>
                <li><a href="Hygeinematerials.html">Products,Materials</a></li>
                <li><a href="AirBnB.html">AirBnB &Residencial</a></li>
              </ul></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="staff.html">Staff</a></li>
              <li><a href="calculator.html">calculate</a></li>
              <li><a href="reachus.html">Contact</a></li>
               
            </ul>
          <div class="searches"><input id="search" type="text" /><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
        </nav>
      </div>
    </div>
      <div class="ground"><h2>CONTACT US</h2>
        <p class="welcome">This service is delivered with passion and dedication, perfection is our goal<p></div>
    



      <div class="connect">
        <div class="tasks"><i class="fa-solid fa-location-dot"></i><h1>Office Address</h1><p>Kigali, St.Famille</p></div>
        <div class="tasks"><i class="fa-solid fa-phone"></i><h1>Mobile phone</h1><p>(+250)-788565652</p></div>
        <div class="tasks"><i class="fa-solid fa-envelope"></i><h1>Email Address</h1><p>emmakabanda@gmail.com</p></div>
        <div class="tasks"><i class="fa-solid fa-clock"></i><h1>Office Open (Mon-Fri)</h1><p>From:8AM To:05PM</p></div>
      </div>

      <div class="findus">
        <img src="imgs\pexels-pixabay-534151 (1).jpg" alt="the cleaned living room" height="500"; width="600">
        <div class="typein">
            <h1>Get In Touch</h1>
            <p>We love clients to reach out to us. Our team is always waiting to talk to you.
                discusse your project, our offers, you can share your feedback too on our services, 
                this help us to improve our services and stay in touch to serve each and everyone of your.
            </p>
            
            <form action="https://formspree.io/f/xldrdraq" method="POST">
            <div class="cledencial">
            <input type="text" name="Name"  placeholder="Your name" required>
            <input type="text" name="Phone Number"  placeholder="Your phone number" required>
            </div>
            <input class="sub" type="text" name="Email" placeholder="Your Email" required>
            <textarea name="Message" rows="4" placeholder="Tell Us What's On Your Mind"></textarea>
            <button><i class="fa-solid fa-message"></i>Send Message</button>
            </form>
        </div>
      </div>
      <div class="ratings">
        <div class="rate">
          <div class="stars"><i class="fa-solid fa-star" style="color: #fbc604;"></i><i class="fa-solid fa-star" style="color: #fbc604;"></i><i class="fa-solid fa-star" style="color: #fbc604;"></i>
            <i class="fa-solid fa-star" style="color: #fbc604;"></i><i class="fa-solid fa-star" style="color: #fbc604;"></i></div>
          <p>clients have ranked our services with a five star rating many times as we served them. 
            get your own experience and rate our services for yourself. 
            contact us and we shall get to you right on time ASAP!</p>
            

        </div>
        <i class="fa-solid fa-truck-fast fa-bounce"></i>
        </div>



    </section>
    <footer>
     <div class="done">
      <div class="logobox">
        <img src="imgs\logodone.jpg" width="160" height="65">
      <p>We are Rwanda's most trusted cleaning agency that's making the country healthier through our excellent and seamless cleaning services.</p>
      <ul class="list">
      <li><a href="#" target="_blank" rel="noopener" title="whatsapp"><i class="fab fa-whatsapp"></i></a></li>
      <li><a href="#" target="_blank" rel="noopener" title="instagram"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#" target="_blank" rel="noopener" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#" target="_blank" rel="noopener" title="X"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class ="quick">
      <h1>Our Service</h1>
      <ul class="list">
        <li><a href="gardening.html">Garden Mantainance</a></li>
        <li><a href="cleaningoffice.html">Office Custodians</a></li>
        <li><a href="streetcleaning.html">Street Cleaning</a></li>
        <li><a href="Window scrubbers.html">Window scrubbers</a></li>
        <li><a href="Hygeinematerials.html">Products,Materials</a></li>
        <li><a href="#">AirBnB &Residencial</a></li>
      </ul>
    </div>
      <div class = "quick">
        <h1>quick access</h1>
        <ul class="list">
          <li><a href="#">What We Do</a></li>
          <li><a href="#">Get In Touch</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="https://maps.app.goo.gl/drEb79qKS9eUM8dc7">Sitemap</a></li>
        </ul>
      </div>
      <div class = "quick">
        <h1>Contact Us</h1>
          <ul class="list">
            <li><a href="tel:+250788565652">(+250)-788-565652</a></li>
            <li><a href="emmakabanda@gmail.com">emmakabanda@gmail.com</a></li>
            <li><a href="https://maps.app.goo.gl/drEb79qKS9eUM8dc7">KN 1 St, Kigali, Rwanda</a></li>
            <li><a href="#">Mon-Sun (08am-07pm)</a></li>
          </ul>
      </div>
      </div>
      <div class='mapaddress'>
        <h1><i class="fa-solid fa-registered"></i><a href="https://maps.app.goo.gl/drEb79qKS9eUM8dc7">2024 - Kegent Company Limited</a></h1>
        <p><i class="fa-solid fa-copyright"></i><a href="#">website Creators: Gislain</a></p>
      </div>
    </footer>

</body>
</html>
